<%= turbo_stream_from current_contact, :messages %>
<div class="flex h-full">
  <%= render "message_panel" %>

  <%# Message detail %>
  <div class="flex-1 overflow-y-auto scrollbar-thin bg-gray-50">
    <%= turbo_frame_tag "message_detail", class: "block h-full" do %>
      <div class="flex items-center justify-center h-full">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 mx-auto mb-3 text-gray-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
          </svg>
          <p class="text-sm text-gray-400">Select a message to read</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
