<%= turbo_frame_tag "message_detail" do %>
  <div class="h-full flex flex-col">
    <div class="flex-1 overflow-y-auto">
      <%= render MessageDetailComponent.new(message: @message) %>
    </div>
  </div>
<% end %>
