<%= turbo_stream_from current_contact, :messages %>
<div class="flex h-full">
  <%= render "message_panel" %>

  <%# Message detail %>
  <div class="flex-1 overflow-y-auto scrollbar-thin bg-gray-50">
    <%= turbo_frame_tag "message_detail", class: "block h-full" do %>
      <div class="h-full flex flex-col">
        <div class="flex-1 overflow-y-auto">
          <%= render MessageDetailComponent.new(message: @message) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
